.page {
  &__title {
    margin-bottom: 1em;
    font-size: 30px;
    color: #777;
  }

  &__component-name {
    margin: 1em 0;
    border-bottom: 1px solid;
    font-size: 20px;
    color: #777;
  }
}
