.digest-post {

  &__content {
    padding: 10px 0;
    overflow: hidden;
  }

  &__header {
    overflow: hidden;
    border-bottom: 1px solid #DEE6E9;
    padding: 10px;
  }

  &__subject {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }
    &__subject-link {
      text-decoration: none;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      }

  &__image-holder {
    float: right;
    width: 72px;
    height: 72px;
    margin: 0 10px;
    border-radius: 4px;
    background-size: cover;
    background-position: 50% 50%;
  }
}
