<!-- message -->
<div class="post message message--support">
    <div class="message__header">
        <!-- user -->
        {{>
            user
            user_pic="https://img-fotki.yandex.ru/get/366459/5091629.a5/0_93a5a_b49d3852_S"
            user_link="TMPL_VAR user_link"
            user_name="TMPL_VAR user_name"
            user_datetime="&bull; 12 сен 2016, 08:22"
        }}

    </div>

    <div class="message__content">
        <h3 class="message__subject">Subject</h3>

        <p class="message__text">{{{text}}}</p>
    </div>

    <footer class="message__footer">
        <dl class="message__categories">
            <dt class="message__category-name">Тип:</dt>
            <dt class="message__category-val">screened</dd>
            <dt class="message__category-name">Категория:</dt>
            <dt class="message__category-val">SUP Service</dd>
        </dl>
    </footer>
  </div>
  <!-- // digest-post -->
